<%- include('includes/head.ejs') %>
<%- include('includes/navigation.ejs') %>
    <main>
        <h1><%= title %></h1>
        <h2>Some error occurred!</h2>
        <p>We are working on fixing this, sorry for the inconenience.</p>
        <p><%= message %></p>
    </main>
<%- include('includes/end.ejs') %>